[Unit]
Description=Per Device Application Volume

[Service]
ExecStart=/usr/bin/python /usr/bin/pdav
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify

[Install]
WantedBy=default.target
